.codeContainer {
  border-radius: 5px;
  margin: .2rem;
  padding: 0.2rem 0.5rem;
  list-style: none;
}

.codeTitle {
  font-size: 0.9rem;
}

.buttonPreviewContainer {
  margin: .5rem 0rem;
  padding: 0px;
}

.alertWrapper {
  position: relative;
  padding: 1rem 0.5rem;
}

.linkContainer {
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 0.5rem 0;
}
