.codeContainer {
  border-radius: 5px;
  padding: 0.2rem 0.5rem;
  list-style: none;
}

.code {
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.codeTitle {
  font-size: 0.9rem;
}

.codeBody {
  font-size: 0.8rem;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0.5rem;
}

.form input,
.form textarea {
  border-radius: 0.3rem;
  box-sizing: border-box;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.buttonPreviewContainer {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.alertWrapper {
  position: relative;
  padding: 1rem 0.5rem;
}

.linkContainer {
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 0.5rem 0;
}
