.nav {
  /* max-width: 70rem; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid rgb(217, 217, 233);
  margin: 0rem;
}

.logoLink:hover {
  text-decoration: none;
}

.nav a {
  font-weight: 200;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 36rem;
  margin: 2rem auto 1rem;
  padding: 1rem 0rem;
}

.main {
  min-height: calc(100vh - 10rem);
}

.footer {
  display: flex;
  padding: 0.5rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  font-weight: 210;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

@media (max-width: 800px) {
  .nav {
    justify-content: space-between;
    padding: 0rem 0.45rem;
  }

  .container {
    padding: 0.2rem 0.7rem;
  }

  .main {
    min-height: calc(100vh - 12rem);
  }

  .chat {
    padding-right: 0.7rem;
  }
  .footer {
    font-size: small;
    font-weight: 300;
  }
}

.backToHome {
  margin: 1.5rem 0 0;
}
