.container { 
  border-radius: 3px;
  padding: .8rem 0rem;
}
.container:hover {
  text-decoration: underline 3px solid rgba(0, 0, 255, 0.788);
}

.title {
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: underline 1px solid #0000ff86;
  }

  .title {
    font-size: normal;
  }

  .name {
    font-weight: 400;
  }

  .svg {
    margin-right: .2rem;
  }

  [data-theme='dark'] .title {
    color: white;
    text-decoration: underline 1px solid #99c9ff;
  }

 