.post {
  position: relative;
}

.post img {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.15), inset 0 0.1rem 0.2rem #fff,
    inset 0 -0.1rem 0.1rem rgba(0, 0, 0, 0.05);
}

.post pre {
  background-color: rgb(240, 234, 234);
  border-radius: 5px;
  padding: 0.5rem;
}

.post a {
  color: rgb(0, 0, 173);
}
