.section {
  height: 100%;
  width: 100%;
  margin: 0px 0px;
  padding: 0px 0px;
  --stripe: #cfd8dc23;
  --bg: var(--color-bg-def);
  background: linear-gradient(135deg, var(--bg) 25%, transparent 25%) -50px 0,
    linear-gradient(225deg, var(--bg) 25%, transparent 25%) -50px 0,
    linear-gradient(315deg, var(--bg) 25%, transparent 25%),
    linear-gradient(45deg, var(--bg) 25%, transparent 25%);
  background-size: 100px 100px;
  background-color: var(--stripe);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: var(--color-border);
  background-color: var(--color-bg-header);
  margin: 1rem 0rem;
}

.boxHeading {
  margin: .2rem 0rem;
}

.container p, 
.container code {
  font-size: medium;
}

.btnContainer {
  margin: 0.5rem 0rem;
}

.articleContainer, 
.metadataContainer {
  width: 100%;
  padding: 1rem;
  background-color: var(--color-bg-def);
}

.articleContainer {
  height: 40vh;
  resize: vertical;
  overflow-y: scroll;
}