.list {
  border: 1px solid rgb(163, 160, 160);
  border-radius: 10px;
  list-style: none;
  padding: 0.5rem;
  margin: 0rem 0rem 1rem 0rem;
}

.actionItem {
  display: inline;
  margin-right: .5rem;
  font-size: 1rem;
}


.parent {
  position: relative;
}

.editor {
  margin: 1rem 0rem;
}

.listItem {
  margin: 0 0 1rem;
  font-size: smaller;
  font-weight: 300;
  line-height: 1rem;
}

.btnContainer {
  margin-top: 0.3rem;
}

.btnContainer button {
  margin-right: 0.4rem;
}

@media (max-width: 700px) {
  .titleSpan {
    display: block;
  }
}

.lightText {
  color: #666;
  font-size: 15px;
}

.button {
  border-radius: 0.3rem;
  font-size: 0.8rem;
  font-weight: 500;
  background-color: white;
  margin: 0 0 0.75rem;
  padding: 0.35rem 0.6rem;
  border: 1px solid #bbb;
  box-shadow: 0 0.15rem 0.3rem rgba(0, 0, 0, 0.15), inset 0 0.1rem 0.2rem #fff,
    inset 0 -0.1rem 0.1rem rgba(0, 0, 0, 0.05);
  transition: all 0.1s ease-in-out;
}

.buttonPublish {
  color: blue;
}

.buttonCreate {
  border: 1px solid rgba(241, 116, 252, 0.849);
}

.buttonCounter {
  border: 1px solid rgba(116, 247, 252, 0.849);
}

.buttonPreview {
  font-size: large;
  padding: 0.8rem 0.8rem;
  color: black;
  border: 1px solid rgba(119, 246, 255, 0.849);
}

.buttonDelete {
  color: red;
}

.buttonStartOver {
  color: black;
}

.buttonDownload {
  border: 1px solid rgba(0, 0, 255, 0.377);
}

.button:hover,
.actionItem:hover {
  background-color: rgba(99, 226, 226, 0.2);
}

.buttonDelete:hover {
  background-color: rgba(217, 226, 99, 0.2);;
}

.buttonCounter:hover {
  background-color: rgba(249, 161, 252, 0.2);;
}

.button:active {
  box-shadow: inset 0 0 0rem black;
}

