html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

button {
  border: none;
  display: inline-flex;
  align-items: center;
}

nav button svg {
  width: 1.5rem;
  height: 1.5rem;
  stroke-width: 2px;
  background-color: inherit;
}

header {
  display: block;
  width: 100%;
  border-radius: 5px;
  position: relative;
  padding: .8rem;
  margin: 0;
  transition: all 0.2s ease-in;
  text-align: center;
}

/* --------------------------------------------------------------------------- */
/* THEME LIGHT */

:root nav, 
:root footer {
  background-color: ghostwhite;
}

:root nav {
  border-bottom: 1px solid rgba(217, 217, 233, 0.438);
}

:root {
  background-color: #FFFFFF;
}

:root a {
  color: #0070f3;
}

:root ul a {
  color: rgba(0, 0, 0, 0.844);
}

:root button {
  background-color: inherit;
}

:root nav button svg {
  stroke: rgba(26, 26, 26, 0.623);
}

:root article {
  color: #181818e6;
}


/* --------------------------------------------------------- */
/* Dashboard */
:root header {
  background-color: whitesmoke;
}

/* --------------------------------------------------------- */
/* AddPostForm guidelines */
:root ol ul {
  background-color: rgb(26, 0, 0);
}

/* ------------------------------------------------------- */
/* ------------------------------------------------------- */
/* THEME DARK */

[data-theme='dark'] nav, 
[data-theme='dark'] footer {
  background-color: rgb(48, 48, 50)
}

[data-theme='dark'] nav {
  border-bottom: 1px solid rgba(217, 217, 233, 0.124);
}

[data-theme='dark'] {
  background-color: #121212;
}

[data-theme='dark'] a {
  color: #8ACAFF;
}

[data-theme='dark'] nav button svg {
  stroke-width: 2px;
  stroke: rgba(243, 243, 243, 0.623);
}


[data-theme='dark'] ul a {
  color: rgba(240, 236, 236, 0.844);
}

[data-theme='dark'] article {
  color: #eaeaeae6;
}

/* code snippets */
[data-theme='dark'] article pre {
  background-color: rgb(32, 32, 32);
}

/* --------------------------------------------------------- */
/* Dashboard */
[data-theme='dark'] header {
  background-color: rgba(245, 245, 245, 0.147);
}

/* --------------------------------------------------------- */
/* AddPostForm guidelines */
[data-theme='dark'] ol ul {
  background-color: rgb(26, 0, 0);
}

/* [data-theme='dark'] form {
  border-bottom: 1px solid rgba(59, 59, 59, 0.212);
}

[data-theme='dark'] form input,
[data-theme='dark'] form textarea {
  background: #fff;
  border: 1px solid #bbb;
} */



/* [data-theme='dark'] nav, 
[data-theme='dark'] footer {
  background-color: gray;
}

[data-theme='dark'] {
  background-color: #000;
  color: #fff;
  font-weight: bolder;
}

[data-theme='dark'] ul a {
  color: white;
} 

[data-theme='dark'] a {
  color:#d0cfcf;
}

[data-theme='dark'] .title {
  color: white;
}

[data-theme='dark'] button svg {
  stroke: white;
} */



