html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

button {
  background-color: inherit;
  border: none;
  display: inline-flex;
  align-items: center;
}

header div {
  display: block;
  width: 100%;
  border-radius: 5px;
  position: relative;
  padding: 1rem;
  margin: 0;
  transition: all 0.2s ease-in;
  text-align: left;
}

/* --------------------------------------------------------------------------- */
/* THEME LIGHT */

:root nav, 
:root footer {
  background-color: ghostwhite;
}

:root nav {
  border-bottom: 1px solid rgba(217, 217, 233, 0.438);
}

:root {
  background-color: #FFFFFF;
}

:root ul a {
  color: black;
}

:root a {
  color: #0070f3;
}

:root button svg {
  width: 1.5rem;
  height: 1.5rem;
  stroke-width: 2px;
  stroke: black;
}

:root article {
  color: #181818;
}

/* ------------------------------------------------------- */
/* THEME DARK */

[data-theme='dark'] nav, 
[data-theme='dark'] footer {
  background-color: gray;
}

[data-theme='dark'] {
  background-color: #000;
  color: #fff;
  font-weight: bolder;
}

[data-theme='dark'] ul a {
  color: white;
} 

[data-theme='dark'] a {
  color:#d0cfcf;
}

[data-theme='dark'] .title {
  color: white;
}

[data-theme='dark'] button svg {
  stroke: white;
}

/* [data-theme='dark'] .list {
  color: white;
} */


