.logoContainer { 
    border-radius: 3px;
    padding: .8rem 0rem;
}

  
.logoTitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logoTitle {
  font-size: normal;
}

.logoName {
  font-weight: 400;
}

.logoContainer .svg {
  margin-right: .2rem;
}

.postDate {
    font-size: 15px;
}

.postHeadingLg {
    font-size: 1.5rem;
}
  
.postContent {
  position: relative;
}

.postContent pre {
    background-color: rgba(32, 32, 32, 0.923);
}

.postContent code,
.guidelines code {
    color: rgba(255, 255, 255, 0.953);
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
    font-size: .8rem;
}

.postContentHeadingLg,
.postContent h3 {
  line-height: 1.4;
  margin: 3rem 0 1rem 0;
}

.postContent hr {
  border: none;
  margin: 3rem 0;
}

/* Code sample code */
.postContent pre {
  border-radius: 5px;
  padding: 0.5rem;
}

/* Notes section */
.postContent section h2 {
  margin: 3rem 0 1rem 0;
  padding: 1rem 0rem;
}

.postContent section ol {
  padding: 0rem 1rem;
}

.postContent {
  font-weight: 400;
}

.postContent img {
    width: 100%;
    border-radius: 5px;
  }

.button {
    border-radius: 0.3rem;
    font-size: 0.8rem;
    font-weight: 500;
    margin: 0 0 0.75rem;
    padding: 0.35rem 0.6rem;
    transition: all 0.1s ease-in-out;
}

.buttonPreview {
  font-size: large;
  padding: 0.8rem 0.8rem;
}

.form {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0rem;
}
  
.form input,
.form textarea {
  margin: .5rem 0rem;
  border-radius: 0.3rem;
  box-sizing: border-box;
  font-size: 1rem;
  padding: .2rem .5rem;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.form textarea {
  height: 2rem;
}

.guidelinesContainer {
    border-top: 1px solid rgba(156, 156, 156, 0.564);
}

.guidelines {
    font-size: 0.9rem;
    border-radius: 5px;
    padding: 1rem;
}

.guidelines li {
    margin: 0rem 1rem;
    padding: .3rem;
}

.alertContainer {
    height: 98%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin: 1rem 0rem;
    padding: 1rem;
    backdrop-filter: blur(2px);
}

/* --------------------------------------- */
/* THEME LIGHT */

.span circle {
    fill: rgba(0, 0, 0, 0.744);
}

.postDate {
    color: rgb(140, 140, 140);
}

.sessionStatus {
    background-color: rgba(0, 0, 0, 0.05);
  }

.logoContainer:hover {
    text-decoration: underline 3px solid #0000ffc9;
}

.logoTitle {
    color: rgba(0, 0, 0, 0.922);
    text-decoration: underline 1px solid #0000ff86;
}

.section {
    color: rgba(31, 30, 30, 0.987);
}

.postContent img {
    box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.15), inset 0 0.1rem 0.2rem #fff,
      inset 0 -0.1rem 0.1rem rgba(0, 0, 0, 0.05);
}

.postContent section h2,
.postContent hr {
  border-top: 1px solid #eaeaea;
}

[data-theme='light'] .button {
    color: rgb(21, 21, 21);
    background-color: white;
    border: 1px solid #bbb;
    box-shadow: 0 0.15rem 0.3rem rgba(0, 0, 0, 0.15), inset 0 0.1rem 0.2rem #fff,
      inset 0 -0.1rem 0.1rem rgba(0, 0, 0, 0.05);
}

[data-theme='light'] .buttonPreview {
    color: black;
    border: 1px solid rgba(119, 246, 255, 0.849);
}

[data-theme='light'] .buttonPublish {
    color: blue;
}
  
[data-theme='light'] .buttonCreate {
  border: 1px solid rgba(241, 116, 252, 0.849);
}

[data-theme='light'] .buttonCounter {
  border: 1px solid rgba(116, 247, 252, 0.849);
}

[data-theme='light'] .buttonDelete {
  color: red;
}

[data-theme='light'] .buttonStartOver {
  color: black;
}

[data-theme='light'] .buttonDownload {
  border: 1px solid rgba(0, 0, 255, 0.377);
}

[data-theme='light'] .button:hover,
[data-theme='light'] .actionItem:hover {
  background-color: rgba(99, 226, 226, 0.2);
}
  
[data-theme='light'] .buttonDelete:hover {
  background-color: rgba(217, 226, 99, 0.2);;
}

[data-theme='light'] .buttonCounter:hover {
  background-color: rgba(249, 161, 252, 0.2);;
}

[data-theme='light'] .button:active {
  box-shadow: inset 0 0 0rem black;
}

[data-theme='light'] .form input,
[data-theme='light'] .form textarea {
    border: 1px solid #bbb
}

[data-theme='light'] .guidelines {
    background-color: #f0f8ff;
}

[data-theme='light'] .alertContainer {
    border: 5px solid rgba(109, 109, 243, 0.432);
    background-color: rgba(255, 255, 255, 0.884);
}

/* --------------------------------------- */
/* THEME DARK */

[data-theme='dark'] .span circle {
    fill: white;
}

[data-theme='dark'] .logoContainer:hover {
    text-decoration: underline 3px solid #B798FF;
}

[data-theme='dark'] .logoTitle {
    color: rgba(216, 212, 212, 0.922);
    text-decoration: underline 1px solid #B798FF;
}

[data-theme='dark'] .postContent img {
    box-shadow: 0 0.3rem 0.3rem rgba(190, 190, 190, 0.15), inset 0 0.1rem 0.2rem rgb(7, 7, 7),
      inset 0 -0.1rem 0.1rem rgba(213, 213, 213, 0.05);
}

[data-theme='dark'] .postContent section h2,
[data-theme='dark'] .postContent hr {
  border-top: 1px solid #eaeaea8c;
}

[data-theme='dark'] .section {
    color: rgba(237, 237, 237, 0.987);
}

[data-theme='dark'] .button {
    color: rgb(222, 222, 222);
    background-color: rgba(222, 222, 222, 0.167);
    border: 1px solid rgba(93, 93, 93, 0.859);
    box-shadow: 0 0.15rem 0.3rem rgba(88, 88, 88, 0.085), inset 0 0.1rem 0.2rem rgba(17, 17, 17, 0.169),
      inset 0 -0.1rem 0.1rem rgba(150, 150, 150, 0.05);
}

[data-theme='dark'] .buttonPreview {
    color: rgba(255, 255, 255, 0.944);
    border: 1px solid rgba(177, 248, 253, 0.849);
}

[data-theme='dark'] .buttonPublish {
    color: rgb(194, 194, 254);
}
  
[data-theme='dark'] .buttonCreate {
  border: 1px solid rgba(245, 173, 252, 0.849);
}

[data-theme='dark'] .buttonCounter {
  border: 1px solid rgba(222, 253, 254, 0.849);
}

[data-theme='dark'] .buttonDelete {
  color: rgb(255, 89, 89);
}

[data-theme='dark'] .buttonStartOver {
  color: rgb(159, 159, 159);
}
[data-theme='dark'] .buttonDownload {
  border: 1px solid rgba(155, 155, 252, 0.377);
}

[data-theme='dark'] .button:hover,
[data-theme='dark'] .actionItem:hover {
  background-color: rgba(196, 230, 230, 0.2);
}
  
[data-theme='dark'] .buttonDelete:hover {
  background-color: rgba(220, 225, 153, 0.2);;
}

[data-theme='dark'] .buttonCounter:hover {
  background-color: rgba(249, 210, 251, 0.2);;
}

[data-theme='dark'] .button:active {
  box-shadow: inset 0 0 0rem black;
}

[data-theme='dark'] .form input,
[data-theme='dark'] .form textarea {
    border: 1px solid rgba(187, 187, 187, 0.345)
}

[data-theme='dark'] .guidelines {
    background-color: #3d4043ee;
}

[data-theme='dark'] .alertContainer {
    border: 5px solid rgba(145, 145, 244, 0.432);
    background-color: rgba(55, 55, 55, 0.884);
}




